{% extends 'fpq_core/form.html' %}

{% block title %}Create a new quote{% endblock %}

{% block form %}
  <div class="row mb-3">
    <label for="phrase" class="col-sm-2 col-form-label">Phrase</label>
    <div class="col-sm-10">
      {{ form.phrase }}

      {% if form.errors.phrase %}
        <div id="phrase-error" class="invalid-feedback">
          {{ form.errors.phrase }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row mb-3">
    <label for="author" class="col-sm-2 col-form-label">Author</label>
    <div class="col-sm-10">
      <select name="author" id="author" class="form-select" required>
        {% for author in authors %}
          <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}
